body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #000;
  color: #fff;
}

#login {
  margin-top: 100px;
}

#gameCanvas {
  border: 2px solid #fff;
  margin-top: 20px;
}
